*{
    margin: 0;
    padding: 0;
  }
  .top{
    border-bottom: 3px solid #F5F5F5;
    padding: 10px 0 5px;
    position: relative;
    height: 67px;
  }
  
  #menu ul {
    background: #ffffff;
    list-style-type: none;
    text-align: center;
    border-bottom: inset;
  }
  #menu li {
    display: inline-block;
    width: 145px;
    height: 44px;
    line-height: 40px;
    margin-left: -5px;
  }
  #menu a {
  
  text-decoration: none;
  
  color: rgb(83, 81, 81);
  
  display: block;
  
  font-size: 14px;
  
  font-weight: bolder;
  }
  #menu a:hover {
    transition: 0.4s;
    color: rgb(52, 161, 98);
  }
  .sub-menu {
    display: none;
    position: absolute;
    opacity: 2;
  }
  #menu li {
    position: relative;
  }
  #menu li:hover .sub-menu {
    display: block;
  }
  .sub-menu li {
    margin-left: 0 !important;
  }
  .sub-menu a:hover{
    transition: 0.4s;
    background: rgb(1, 83, 36);
    color: black;
  }
  img {
    margin-left: 0px;
  }
  .free_delivery {
      margin-left: 294px;
  }
  .chinhanh {width: 11px;height: 527px;}
  
  p {
      width: 440px;
  }
  
  .chinhchu {margin-left: 1001px;margin-top: -419px;width: 388px;}
  #1{
    width: 100px;
  }
  
  .chinhsua {
      margin-left: 336px;
      margin-top: 88px;
  }
  
  h2 {color: #2b2e2c;}
  
  .chinhsua2 {
      margin-top: 192px;
      margin-left: 921px;
  }
  
  .chinhchu2 {
      width: 470px;
      margin-left: 255px;
      margin-top: -307px;
  }
  .bam {
      color: #0C713D;
      border-color: #0C713D;
  }
  
  .nut {
      font-family: 'Muli', sans-serif;
      transition: all 0.2s linear;
      text-transform: uppercase;
      overflow: hidden;
      position: relative;
      font-size: 13px;
      padding: 7px 12px;
  }
  
  .nut {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid #0c713d;
      border-radius: 4px;
  }
  
  a {
      text-decoration: none;
  }
  a.nut:hover{
    transition: 0.4s;
    background: rgb(1, 83, 36);
    color: white;
  }
  
  
  a.tit {
      margin-left: 60px;
      width: fit-content;
      background-color: white;
      color: white;
  }
  
  a.title1 {
      width: 145px;
  }
  
  .chinhTraGoi {
      display: flex;
  }
  
  ul.list-sing.level3 {
      margin-top: -162px;
      height: 327px;
      padding: 32px;
  }
  
  li {
      margin-top: 3px;
  }
  
  h1 {
      font-size: 21px;
      margin-left: 104px;
      margin-top: 160px;
      padding: 41px;
      padding-left: 0px;
      color:
      white
  }
  
  .bot {
      background-color: #0C713D;
      width: 100%;
      height: 482px;
  }
  
  .right {
      margin-left: 1244px;
      margin-top: -52px;
  }
  
  .lang {
      margin-left: 81px;
      margin-top: -17px;
      font-weight: bold;
  }
  
  a.langvn {
      color: #00713d;
  }
  
  span {
      color: black;
      font-weight: 700;
  }
  .langEN{
    color: black;
  }
  .lang a:hover{
    transition: 0.4s;
    color: rgb(52, 161, 98);
  }
  
  .giohang {
      margin-left: 157px;
      margin-top: -25px;
      border: solid 1px;
      width: 103px;
      height: 21px;
      padding: 7px;
      padding-bottom: 0px;
      border-radius: 8px;
      color: #038107;
  }
  
  span.chinhmaugiohang {
      color: #127c05;
  }
  
  i.fa-sharp.fa-solid.fa-cart-shopping {
      color: #127c05;
  }
  
  span.number {
      color: white;
      background-color: #127c05;
      border-radius: 24px;
      font-size: small;
      text-align: center;
  }
  
  img.logo1 {
      margin-top: -35px;
      width: 73px;
  }
  
  .chinhlogo {
      margin: -17px;
      margin-left: 900px;
  }
  
  select {
      margin-left: 105px;
      width: 166px;
      height: 34px;
      border: solid 1px white;
      background-color: #faebd700;
      border-radius: 8px;
  }
  .mauchu{
    color: white;
  }
  
  .anh2 {
      margin-left: 75px;
  }
  
  .thongtinphuclong {
      margin-left: 167px;
  }
  
  .thongtinphuclong {margin-top: 71px;margin-bottom: 39px;}
  
  .thongtinphuclong2 {
      margin-left: 905px;
      margin-top: -190px;
  }
  
  b {
      color: #3A3A3A;
  }
  
  input[type="email"] {border-color: #0C713D;width: 199px;height: 33px;border-radius: 6px;border: solid 1px;color: #0C713D;}
  
  .bam2{
    color: #0C713D;
    background-color: #ff000000;
    margin-left: 1110px;
    margin-top: -56px;
  }
  .bam2:hover{
    transition: 0.4s;
    background: rgb(1, 83, 36);
    color: white;
  
  }
  
  .chinhsuachu {margin-left: 905px;}
  
  .chinhsuachu2 {
      margin-left: 1496px;
      margin-top: -126px;
  }
  
  .chinhanh3 {
      margin-left: 1462px;
  }
  
  ul.mangxahoi {
      margin-left: 1463px;
      display: flex;
      color: white;
  }
  
  a.btnicon {
      padding: 15px;
      font-size: 20px;
      color: #8da1a1;
  }
  a.btnicon:hover{
    transition: 0.4s;
    color: #1d1f1e;
  }
  .banquyen {
      font-size: 0.7em;
      line-height: 1.6;
      padding: 2px 15px 3px;
      color: #8d8d8d;
  }
  
  .nenden {
      background-color: #010101;
  }
  
  .cangiua {
      text-align: center;
  }
  .banquyen.nenden.cangiua {
      margin-top: 60px;
  }
  
  .tongslide {
      width: 100%;
      height: 700px;

  }
  .cacslide {
      width: 100%;
      height: 700px;
  }
  
  .slide {
      top: 0px;
      left: 0px;
      opacity: 0;

  }
  .slide.dau{
    opacity: 1;
    visibility: visible;
  }
  .dieuhuong span{
    color: white;
    font-size:40px;
  }
  span#btnprev{
    position: absolute;
    top: 45%;
    left: 2%;
    z-index: 10;
    cursor: pointer;
  }
  span#btnnext{
    position: absolute;
    top: 40%;
    right: 2%;
    z-index: 10;
    cursor: pointer;
}
#btnprev:hover{
    color:#046307;
}
#btnnext:hover{
    color:#046307;
}

h3 {
    color: white;
    margin-left: 104px;
}
#modal-container{
    height: 100vh;
    background: rgba(0, 0, 0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}
#modal-container.show{
    opacity: 1;
    pointer-events: all;
}
#modal{
    background: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 286px;
    height: 241px;
    border-radius: 12px;
    margin-top: 168px;
}

h4 {
    margin-top: 236px;
}

i.fa-solid.fa-xmark {
    margin-left: 0px;
}


h4#chinhchuxinchao {
    margin-top: -84px;
    padding: 68px;
    padding-bottom: 10px;
    margin-bottom: -59px;
}
p.chinhchudangnhap {
    margin-top: 50px;
    margin-left: 108px;
}
.container {
    width: 70%;
    margin: auto;
    text-align: center;
}
.fomrgroup {
    width: 50%;
    margin: auto;
    display: block;
    height: 50px;
    margin-top: 44px;
    margin-bottom: -39px;
}
.fomrgroup input{
    float: right;
     width: 70%;
    height: 25px;
    margin-right: 20px;
    line-height: 50px;
}
.fomrgroup b{
    font-size: 20px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 13px;
    border: 1px solid #888;
    width: 24%;
    height: 285px;
    border-radius: 21px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 19px;
    margin-top: -58px;
    background-color: green;
    border-radius: 70px;
    height: 22px;
    width: 24px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button#myBtn {
    margin-left: -600px;
}

form {
    margin-top: 55px;
}
.logodangnhap {
    margin-top: -94px;
    margin-left: 150px;
    width: 160px;
    height: 101px;
    background-color: white;
    border-radius: 40px;
}

button#dangnhaptrong {background-color: green;width: 210px;height: 44px;margin-left: 20px;margin-top: -15px;border: solid 1px white;border-radius: 10px;color: white;font-size: 16px;cursor: pointer;}